@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
header{
    text-align: center;
    background-image: url("../images/donation13.jpg");
    height: 500px;
    color: rgb(255, 255, 255);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.mt{
padding-top: 180px;
}
.btn{
    background-color: #FF5959;
    padding:12px ;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

/* donate-today */

.donate-today{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}


.donate-amoutn{
    display: flex;
   
    text-align: center;
}
.donate-amoutn h2{
margin-left: 30px;
padding: 30px 20px;
background-color: #dfdede;
border-radius: 5px;
}
.active-c{
border: 2px solid #FF5959;
color: #FF5959;
}
.b-2{
    padding: 20px;
    font-weight: 700;

    text-align: center;

}
/* donate-plan */
.all-sm{
    margin: 0 auto;
    max-width: 800px;
}
.text-h{
    display: inline-block;
    text-align: center;
}
.all-cart{
    display: inline-block;

    display: flex;
}
.food{
    width: 235px;
    margin-left: 20px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FF5959;
    border-radius: 5px;
}
.b{
    background-color: #EDF5F6;
    height: 250px;
}
.n{
    background-color: #FFEEEE;
    height: 250px;

}
.m{
    background-color: #FFF4D6;
    height: 250px;
}
.imgs{
    width: 480px;
    display: inline-block;
}
.tran{
    display: flex;
    margin: 0 auto;
    max-width: 950px;

}
.p-h{
    display: inline-block;
    padding-right: 50px;
    padding-left: 20px;
  
}
.q{
margin-top: 200px;
}
.text-a{
    display: inline-block;
    text-align: center;
}
.get{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}
.u{
    padding: 12px;
    border-radius: 5px;
    border: none;
background-color: #ffffff;
width: 200px;

}
.inp{
padding: 56px 20px;
background-color: #FFF4D6;
}
.x{
    border-radius: 0;
}
footer{
    background-color: black;
    height: 150px;
    color: #FF5959;
    text-align: center;
    margin-top: 50px;
}
.white{
    color: #ffffff;
    font-size: 13px;
}
.text-s{
    font-family: 'Montserrat Alternates', sans-serif;
}